<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarjetas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga&family=Poppins:wght@300&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/978a01b828.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/styles/styleCards.css">
  <link rel="stylesheet" href="./assets/styles/styleLoader.css">
  <link rel="stylesheet" href="./assets/styles/styles.css">
  <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">

</head>

<body id="app" class="container-fluid d-flex p-0">
  <header class="col-2 col-sm-3 col-lg-2">
    <nav class="container-fluid " id="nav">
      <div class="row flex-nowrap">
        <div class="col-12 px-0">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline aluBank">MontBank</span>
            </a>
            <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHgwL4r2DN1qg91OOqIViiv0Uxw-9yqo-PiQ&usqp=CAU"
                  alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">{{client.name}} {{client.lastName}}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#" @click="areYouSure">Cerrar sesión</a></li>
              </ul>
            </div>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="./accounts.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./cards.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-credit-card"></i> <span class="ms-1 d-none d-sm-inline">Tarjetas</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="./loans.html" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-piggy-bank"></i> <span class="ms-1 d-none d-sm-inline">Prestamos</span>
                </a>
              </li>
              <li class="nav-item">
                <div class="social-media container d-flex flex-wrap">
                  <a class="icon-mode" @click="darkMode('dark')"><i class="fas fa-moon"></i></a>
                  <a class="icon-mode" @click="darkMode('light')"><i class="fas fa-sun"></i></a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </header>
  <main class="col-10 col-sm-9 col-lg-10 container-fluid d-flex flex-wrap align-items-center justify-content-center "
    id="main">
    <div class="col-12 container d-flex align-items-center justify-content-center" v-if="cards.length < 6">
      <button class="btn transferBtn">
        <a href="./create-cards.html" class="container d-flex flex-column align-items-center justify-content-center">
          <i class="bi bi-plus-square titles"></i>
          <span class="titles">Añadir tarjeta</span>
        </a>
      </button>
    </div>
    <div class="col-12 container d-flex align-items-start justify-content-center m-0" v-if="cards.length == 0">
      <h3 class="text-center titles">Aún no tenés tarjetas para mostrar</h3>
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-evenly gap-1 col-10 col-lg-4 m-0" v-if="debitCards.length != 0">
      <h3 class="text-center titles">Débito</h3>
        <div class="cardi m-0 mb-5 mt-2" v-for="card in debitCards" >
            <div class="card__front card__part" :class="card.color.toLowerCase() + 'Card'">
              <img class="card__front-square card__square" src="./assets/img/chip.png">
              <img class="card__front-logo card__logo" src="./assets/img/logo-visa.svg">
              <span class="cardType card__label"
                :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">{{card.type}}</span>
                <span class="badge text-bg-danger" v-if="card.active == false" id="badgeCard">DESACTIVADA</span>
                <p class="card_numer" :class="card.color == 'TITANIUM' ? 'card_numer_titanium' : 'card_numer_silverGold'">
                  {{card.number}}</p>
                  <div class="card__space-75">
                <span class="card__label"
                  :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">{{card.color}}</span>
                <p class="card__info"
                  :class="card.color == 'TITANIUM' ? 'card__info_titanium' : 'card__info_silverGold'">
                  {{card.cardHolder}}</p>
              </div>

              <div class="card__space-25">
                <span class="card__label"
                  :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">VTO</span>
                <p class="card__info"
                  :class="card.color == 'TITANIUM' ? 'card__info_titanium' : 'card__info_silverGold'">
                  {{dateFormat.format(new Date(card.thruDate))}}</p>
              </div>
            </div>

            <div class="card__back card__part" :class="card.color.toLowerCase() + 'Card'">
              <div class="card__black-line"></div>
              <div class="card__back-content">
                <div class="card__secret">
                  <p class="card__secret--last">{{card.cvv}}</p>
                </div>
                <img class="card__back-square card__square" src="./assets/img/logo.png">
                <img class="card__back-logo card__logo" src="./assets/img/logo-visa.svg">

              </div>
            </div>
            <button class="btn btn-solid text-white p-0 btnCard titles" id="deactivateCard" @click="findDeactivateCard(card)" v-if="card.active">Desactivar</button>
            <button class="btn btn-solid text-white p-0 btnCard titles" id="activateCard" @click="findDeactivateCard(card)" v-else>Activar</button>
          </div>
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-evenly gap-1 col-10 col-lg-4 m-0" v-if="creditCards.length != 0">
      <h3 class="text-center titles" >Crédito</h3>
        <div class="cardi m-0 mb-5 mt-2" v-for="card in creditCards" >
            <div class="card__front card__part" :class="card.color.toLowerCase() + 'Card'">
              <img class="card__front-square card__square" src="./assets/img/chip.png">
              <img class="card__front-logo card__logo" src="./assets/img/logo-visa.svg">
              <span class="cardType card__label"
                :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">{{card.type}}</span>
                <span class="badge text-bg-danger" v-if="card.active == false" id="badgeCard">DESACTIVADA</span>
              <p class="card_numer" :class="card.color == 'TITANIUM' ? 'card_numer_titanium' : 'card_numer_silverGold'">
                {{card.number}}</p>
              <div class="card__space-75">
                <span class="card__label"
                  :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">{{card.color}}</span>
                <p class="card__info"
                  :class="card.color == 'TITANIUM' ? 'card__info_titanium' : 'card__info_silverGold'">
                  {{card.cardHolder}}</p>
              </div>

              <div class="card__space-25">
                <span class="card__label"
                  :class="card.color == 'TITANIUM' ? 'card__label_titanium' : 'card__label_silverGold'">VTO</span>
                <p class="card__info"
                  :class="card.color == 'TITANIUM' ? 'card__info_titanium' : 'card__info_silverGold'">
                  {{dateFormat.format(new Date(card.thruDate))}}</p>
              </div>
            </div>

            <div class="card__back card__part" :class="card.color.toLowerCase() + 'Card'">
              <div class="card__black-line"></div>
              <div class="card__back-content">
                <div class="card__secret">
                  <p class="card__secret--last">{{card.cvv}}</p>
                </div>
                <img class="card__back-square card__square" src="./assets/img/logo.png">
                <img class="card__back-logo card__logo" src="./assets/img/logo-visa.svg">

              </div>
            </div>
            <button class="btn btn-solid text-white p-0 btnCard titles" id="deactivateCard" @click="findDeactivateCard(card)" v-if="card.active">Desactivar</button>
            <button class="btn btn-solid text-white p-0 btnCard titles" id="activateCard" @click="findDeactivateCard(card)" v-else>Activar</button>
          </div>
    </div>
  </main>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="./assets/js/cards.js"></script>

</body>

</html>